.anime-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.anime-card-image ,.anime-card-info,.anime-card-point, .anime-card-add-list {
    border: 1px solid black;
    height: 110px;
    padding: 0 5px;
}

.anime-card-image,.anime-card-point, .anime-card-add-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anime-card-point {
    max-width: 280px;
    width: 100%;
}

.anime-card-info > div {
    display: block;
    max-width: 700px;
    width: 30vw;
    height: 60%;
    overflow: hidden;
    word-wrap: break-word;
}

.anime-card-image > img{
    padding: 5px 5px;
}

.anime-card-add-list > input {
    background-color: black;
    color: white;
    cursor: pointer;
}

.anime-list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.errorMessage {
    width: 80%;
    height: 20%;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 3px;
    background-color: deeppink;
}

.succesMessage {
    width: 80%;
    height: 20%;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 3px;
    background-color: lime;
    color:darkgreen;
}