.home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJWh6KSiy5xWNKL5V53SSpOY_EDeY6QUJjKg&usqp=CAU');
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    height: 44.84vw;
    margin-top: 0;
    background-size: 100%;
}

.home-container > div {
    width: 30%;
    word-wrap: break-word;
    color: white;
    padding-top: 6%;
    padding-right: 3%;
    float: right;
}

.home-container > div > h1 {
    font-size: 4vw;
}

.home-container > div > p {
    font-size: 1.5vw;
}
