.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.container-login form {
    padding: 45px 45px;
    margin-top: 15px;
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 15px 15px ;
}

.container-login legend {
    margin-top: 5px;
}

.container-login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.container-login-submit input {
    cursor: pointer;
    background-color: black;
    color: white;
}

.errorMessage {
    width: 80%;
    height: 20%;
    border-radius: 10px;
    padding: 5px 5px;
    margin-top: 3px;
    background-color: deeppink;
}