.profile-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
}

.profile {
    width: 30%;
    padding: 8px 8px;
}

a {
    text-decoration: none;
}

.container-main {

}

.add-anime {
    background-color: black;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    height: 1.5rem;
    border-radius: 5px;
    margin-right: 5%;
}

.add-anime > a {
    color: white;
}

.second-page {
    width: 70%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    margin-top: 25px;
}

.container-profile-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: solid 1px black;
    height: 40vw;
}

.profile-anime-list,.profile-edit {
    color: blue;
    cursor: pointer;
}

.profile-anime-list:hover,.profile-edit:hover {
    color: orange;
}

.profile-anime-list:visited,.profile-edit:visited {
    color: blue;
}
 